.toggle-group {
  margin: 0 10px;
}

.toggle-group-label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.toggle-item {
  margin: 0 0;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 !important;

}

.toggle-container {
  position: relative;
  margin-top: 0 !important;
  width: 25px;
  height: 12px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  order: 1;
}

.toggle-container.active {
  background-color: #4CAF50;
}

.toggle-button {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 2px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.toggle-button.active {
  transform: translateX(13px);
}

.toggle-label {
  font-size: 11px !important;
  margin-top: 0 !important;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
  order: 2;
  line-height: 12px;
  padding: 0 !important;
}

.toggle-container.disabled {
  background-color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

.toggle-container.disabled .toggle-button {
  background-color: #999;
  cursor: not-allowed;
}

.toggle-container.disabled:hover {
  background-color: #999;
  transform: none;
}

.toggle-label.disabled {
  color: #999;
  cursor: not-allowed;
}