.toggle-wrapper {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.toggle-container {
  position: relative;
  width: 25px;
  height: 12px;
  background-color: #ccc;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /*margin: 8px 0;*/
}

.toggle-container.active {
  background-color: #4CAF50;
}

.toggle-button {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.toggle-button.active {
  transform: translateX(13px);
}

.toggle-label {
  margin-top: 0 !important;
  margin-left: 10px;
  font-weight: bold !important; 
  cursor: pointer;
  user-select: none;
}